
/* -----------------------------------------------Header-------------------------------------------- */
header{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size:6ch;
    background-image: linear-gradient(120deg,orange,white,green);
    padding: 8%;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 15px 5px 5px 5px rgb(208, 215, 219);
    text-decoration: underline;
    text-indent: 50px;
    }

    /* -------------------------------------------Flex box-------------------------------------------- */


    .flex-item{
        width: 380px;
        height: 380px;
        text-align: center;
        font-size: 2em;
        font-weight: bold;
        line-height: 2.5;
        
    }

    #flex-item-1{
        background-color:orange;
    }
    
    #flex-item-2{
        background-color: whitesmoke;

    }

    #flex-item-3{
        background-color: rgb(7, 175, 7);
    }

    #flex-item-4{
        background-color:orange;
    }
    
    #flex-item-5{
        background-color: whitesmoke;

    }

    #flex-item-6{
        background-color: rgb(7, 175, 7);
    }

   

div.flex-row{
    display: flex;
    flex-direction: flex-row;
    flex-wrap: wrap;
   

}
div.flex-item{
    width: 33.3%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    height: auto;
    position: relative;
}
div.flex-item img{
    width: 100%;
    height: 300px;
    border-radius: 0px;
    border: 1px solid black;
    box-shadow: 1px 2px 3px 0px;
}

div.flex-item p{
    font-size: 1rem;
    padding-left: 6px;
}


*{
    
    box-sizing: border-box;
    margin-bottom: 1.4rem;
    
}

/* FLEX BOX LAYOUT */
.flex-item{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px   orange;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px   white;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px  rgb(197, 199, 193) ;
}

/* -------------------------------------------------footer------------------------------------------------*/


  /* Colour and Size of footer heading  */

  .ft-title {
    color:orange;
    font-size: 1.375rem;
   
  }

  /* Footer spacing and Alignment*/

  footer{
    text-align: center;
    font-size: large;
    width: 100%;
    
  }
  .ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
  }
  
  
  /* Footer green band */
  .ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color:   rgb(7, 175, 7);
  }

  footer .ft-main-item a{
    color:rgb(7, 175, 7)
 
  }
  footer .ft-legal a{
    color: orange;
  }
   
/* -------------------------------------------------Responsiveness------------------------------------------------*/

/* Media Query for Mobile Devices (Zoom 400%)*/    
@media (max-width: 480px){
   
    div.flex-row{
       flex-direction:column;
       align-items: center;
    }
    div.flex-item p{
       font-size: 0.3rem;
    }
    div.flex-item img{
       width: 120px;
       height: 100px;
    }
    header{
       font-size: 2ch;
    }
    .image{
       width: 80px;
       height: 100px;
    }
    h2 {
       font-size:0.5rem;
       }
    h5{
       font-size: 0.5ch;
      }
    div.ft-main-item{
       padding: 0rem;
       font-size: 0.75ch;
     }
    h2.ft-title{
       font-size: 1ch;
       align-items: center;
    }
  }
  /* Media Query for low resolution  Tablets, Ipads (Zoom 250%)*/
  @media (min-width: 481px) and (max-width: 767px) {
    div.flex-row{
       display: flex;
       flex-wrap: wrap;
            }
    div.flex-item{
       width: 50%;
       height: auto;
       position: relative;
     }
    div.flex-item p{
       font-size: 0.5rem;
   }
    div.flex-item img{
       width: 290px;
       height: 200px;
   }
    header{
       font-size: 2ch;
   }
    .image{
       width: 150px;
       height: 180px;
   }
    h2 {
       font-size:0.75rem;
   }
    h5{
       font-size: 1ch;
   }
    div.ft-main-item{
       padding: 0rem;
       font-size: 1.5ch;
   }
    h2.ft-title{
       font-size: 1.5ch;
   }
 
}    
 
  
